<div id="<%= dom_id screen %>">
  <p>
    <strong>Name:</strong>
    <%= screen.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= screen.country %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= screen.location %>
  </p>

  <p>
    <strong>Dimensions:</strong>
    <%= screen.dimensions %>
  </p>

  <p>
    <strong>Stream price:</strong>
    <%= screen.stream_price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= screen.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= screen.description %>
  </p>

</div>
