<%= form_with(model: post) do |form| %>
  
<div class="row g-6 justify-content-center    text-center" data-controller="nested-form-posts">
  <div class="row  ">
    <div class="col-md-12 col-sm-12 mb-3 text-start  ">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class:"form-control" %>
    </div>
  </div>
  <div class="row  ">
    <div class="mb-3 col-8 text-start">
      <%= form.label :timeDuration, "Duration", style: "display: block" %>
      <%= form.select :timeDuration, 1..30, {}, :class => 'form-control'  %>
    </div>
    <div class="mb-3 col-4 text-start">
      <%= form.label :unitDuration, ".", style: "display: block" %>
      <%= form.select :unitDuration, Post.unitDurations.keys.map{|key, value| [key, key]} , {}, :class => 'form-control' %>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <template data-target="nested-form-posts.template">
              <%= form.fields_for :post_screens, PostScreen.new, child_index: 'NEW_RECORD' do |line_item_fields| %>
                  <div class="nested-form-vehicles-wrapper nested-form-vehicles mb-2" data-new-record="<%= form.object&.new_record? %>" >
                      <%= render "screens_for_post_fields", line_item_fields: line_item_fields %>
                  </div>
              <% end %>
          </template> 
          <%= form.label :screens, style: "display: block" %>
          <%= form.fields_for :post_screens do |line_item_fields| %>
              <%= render "screens_for_post_fields", line_item_fields: line_item_fields %>
          <% end %>  
          <div data-target="target"></div>
          <div class="mb-1 d-flex justify-content-start mb-2" data-target="nested-form-posts.links">
              <%= link_to "#", class: "btn btn-success waves-effect waves-light mt-2 ", data: { action: "click->nested-form-posts#add_association" } do%>
                  <i class="mdi mdi-plus"></i> Adicionar Telas
              <% end %>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 mb-3  ">
      <%= form.label :content, "Select content", class:"form-control mb-3", style: "display: block" %>
      <%= form.file_field :content, class:"form-control" %>
    </div>
  </div>

  <div class="row  ">
    <div class="col-md-12 col-sm-12 my-3  w-100 d-flex justify-content-start w ">
      <% if @post&.new_record? %>
        <%= form.submit "Create a Post" , class:"btn btn-primary col-12 width-mobile w-25 "%>
      <% else %>
        <%= form.submit "Update a Post" , class:"btn btn-primary col-12 width-mobile w-25"%>
      <% end %>

    </div>
  </div>
</div>
<% end %>
