<div id="<%= dom_id post %>">

    <strong>Content:</strong>
    <div class="">
      <% if post.content.attached?%>
        <% if post.content.content_type.include?("image")%>
          <%= image_tag url_for(post.content), class:"object-fit-contain border rounded", width: "100%", controls: true %>
        <% else %>
            <%=video_tag url_for(post.content),class:"object-fit-contain", width: "100%", controls: true %>
        <% end %>
      <% end %>
    </div>

  <div class="card-body bg-body-secondary">
    <p>
      <strong>Title:</strong>
      <%= post.title %>
    </p>
    <p>
      <strong>Time Duration:</strong>
      <%= "#{post.timeDuration&.to_i} #{post.unitDuration}" %>
    </p>
    <p>
      <strong>User:</strong>
      <%= post.user.username %>
    </p>
  
    <p>
      <strong>status:</strong>
      <%= post.status %>
    </p>
  </div>
 

</div>
