<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user.username %>
  </p>

  <p>
    <strong>Content:</strong>
    <% if post.content.attached?%>
      <% if post.content.content_type.include?("image")%>
        <%= image_tag url_for(post.content), controls: true %>
      <% else %>
          <%=video_tag url_for(post.content), controls: true %>
      <% end %>
    <% end %>
  </p>

  <p>
    <strong>status:</strong>
    <%= post.status %>
  </p>

</div>
