<div class="container text-start mb-5">
    <p style="color: green"><%= notice %></p>
    <h3 class="mb-4">PERFIL</h3>
    <div class=" d-flex align-items-center gap-3 mb-5">

      <div>
          <i class="fa-sharp fa-solid fa-circle-user fa-4x"></i>    
      </div>
        <div>
            <div class="mb-1">
              <%= current_user.username %>
            </div>
            <div class="">
              <%= link_to "Edit Profile", new_post_path , class:"text-decoration-none"%>
            </div>
          </div>
        </div>
    
   

      <div class="col-12 ">
        <h3 class="ps-2" >Your Posts</h3>
        <table class="table table-striped ">
      
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
          </tr>
        </thead>    
        </tr>
          <tbody>
            <% @posts.each do |post| %> 
                  <tr onclick="window.location='<%= post_path(post.id) %>'" style="cursor:pointer;">
                    <td><%= post.title %></td>
                    <td><%= post.status %></td>
                    <td>
                      <%= link_to edit_post_path(post.id) do %>
                        <i class="fa-solid fa-edit "></i>
                      <% end %> 
                    </td>

                    <td>
                      <%= link_to post_path(post.id), method: "delete"  do %>
                        <i class="fa-solid fa-trash text-danger"></i>                  
                      <% end %> 
                    </td>
                  
                  </tr>
            <% end %>
          </tbody>
          </div>
        </table>
      </div>


</div>
