<%= form_with(model: post_date) do |form| %>
  <% if post_date.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post_date.errors.count, "error") %> prohibited this post_date from being saved:</h2>

      <ul>
        <% post_date.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :post_id, style: "display: block" %>
    <%= form.number_field :post_id %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.label :frequency, style: "display: block" %>
    <%= form.number_field :frequency %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
