<%= stylesheet_link_tag('_navbar') %>
<style>
    .navbar-toggler {
        background-color: transparent;
        border: none;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='black' class='bi bi-list' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M2.5 12.5a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm0-5a.5.5 0 0 0 0 1h11a.5.5.0 0 0 0-1h-11zm0-5a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11z'/%3E%3C/svg%3E");
    }
</style>
<% color =  (request.env['PATH_INFO'] == '/'  || request.env['PATH_INFO'] == '/homes/index') ?  'bg-transparent' : 'bg-dark' %> 
<nav class="<%= color %> z-3 navbar navbar-expand-lg">
    <%= link_to "Publicita-te",  homes_index_path, :class => "navbar-brand text-light ps-4" %>
    <button class="navbar-togglerar navbar-toggler bg-transparent   me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars fa-xl accordion-body" style="color: #ffffff;"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end sm-bg-dark pe-5" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Home",  homes_index_path, :class => "nav-link text-light" %>
        <a class="nav-link text-light" href="#">About</a>
       
        <% if current_user %>     
          <%= link_to "Perfil",  posts_path, :class => "nav-link text-light" %>
          <%= link_to "New Post",  new_post_path, :class => "nav-link text-light" %>
          <%= link_to "Log out",  destroy_user_session_path, :class => "nav-link text-light" %>
        <% else %>
          <%= link_to "Sign in",  new_user_session_path, :class => "nav-link text-light" %>
          <%= link_to "Sign up",  new_user_registration_path, :class => "nav-link text-light" %>
        <% end %>
      </div>
  </div>
</nav>
